* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: hsl(235, 21%, 11%);
  --dark-black: hsl(235, 24%, 19%);
  --check-bg: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --todo-completed: hsl(233, 14%, 35%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
}

html,
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dark-blue);
  background-image: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  min-height: 100dvh;
}

input {
  display: block;
  width: 100%;
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

input[type="radio"] {
  appearance: none;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-block: 2rem;
}

.moon {
  display: none;
}

.heading {
  color: white;
}

.type-area {
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.todo-item {
  padding-block: 1rem;
  padding-inline: 3rem;
  background: hsl(235, 24%, 19%);
  font-size: 18px;
  position: relative;
}

.todo-list .todo-item {
  border-bottom: 0.5px solid white;
}

.todo-text {
  color: white;
}

.todo-item[data-todo-status="completed"] .todo-text {
  text-decoration: line-through;
  color: var(--todo-completed);
}

.done-btn {
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid grey;
}

.todo-item[data-todo-status="active"] .done-btn:hover {
  border: 1px solid transparent;
  background-image: linear-gradient(var(--dark-black), var(--dark-black)),
    var(--check-bg);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.todo-item[data-todo-status="completed"] .done-btn {
  background: url(./images/icon-check.svg) no-repeat center, var(--check-bg);
  border: none;
}

.cancel-btn {
  width: 1.5rem;
  aspect-ratio: 1;
  background: url(./images/icon-cross.svg) no-repeat 100%;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.todo-item[data-todo-status]:hover .cancel-btn {
  opacity: 1;
}

.filters-list {
  display: flex;
  gap: 10px;
  padding-right: 160px;
  padding-top: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  background: hsl(235, 24%, 19%);
  border-radius: 5px;
  font-size: 18px;
  padding-bottom: 10px;
}

.items-left {
  padding-top: 10px;
  padding-left: 12px;
}

.filters-item:has(input[type="radio"]:checked) {
  color: rgb(97, 97, 218);
}

.wrapper {
  max-width: 480px;
  width: 100%;
}

.drag {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 0.95rem;
  padding-top: 1.5rem;
}
